.wrapper {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x: hidden;
  /* height: 100vh; */
}

.navbar {
  background-color: var(--background) !important;
  color: var(--text-primary) !important;
}
.nav_links {
  color: var(--text-primary) !important;
  text-transform: capitalize !important;
}
.a_link {
  text-decoration: none !important;
}

.side_bar_text {
  color: var(--text-secondary) !important;
}

/* mid styling */

.tab {
  text-transform: capitalize !important;
  border: 1px solid var(--text-primary) !important;
  margin: 10px 10px 0 10px !important;
  border-radius: 30px !important;
  color: var(--text-primary) !important;
}
.tab:hover {
  color: var(--button-hover) !important;
  border: 1px solid var(--button-hover) !important;
  transition: 0.2s ease-in-out !important;
}
/* end panel styling */

.right_btns {
  margin: 10px 0 !important;
  text-transform: capitalize !important;
  border: 1px solid var(--button-hover) !important;
  color: var(--button-hover) !important;
}
.right_btns:hover {
  transition: 0.2s ease-in-out !important;
  color: var(--text-primary) !important;
}

.input {
  background-color: var(--card-background);
  margin-bottom: 10px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date_field {
  color: #fff;
}

.add_candidate {
  cursor: pointer;
}

.ballot_type_box,
.ballot_dates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: var(--main-dark);
  border: 2px solid #4d5f7f;
  box-shadow: 24;
  padding: 2rem 1rem;
  border-radius: 20px;
  box-shadow: 0 32px 64px -12px rgb(102 51 225 / 14%),
    0 4px 32px rgb(92 39 224 / 15%);
}
.ballot_types {
  display: flex;
  flex-direction: column;
}
.ballot_type_buttons {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  background-color: #fff;
}
.type_heading {
  color: var(--sub-headings);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.type_details {
  color: var(--info-text);
  text-transform: initial;
}
.ballot_type {
  display: flex;
  justify-content: space-between;
}
.add_candidate {
  display: flex;
}

.heading {
  color: var(--heading-text);
}

/* Created ballot page */
.copy_link {
  /* --height: 36px; */
  height: 40px;
  display: flex;
  max-width: 250px;
}

.copy_link_input {
  flex-grow: 1;
  padding: 0 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-right: none;
  outline: none;
  border-radius: 20px 0 0 20px;
}

.copy_link_input:hover {
  background: #eeeeee;
}

.copy_link_button {
  flex-shrink: 0;
  width: var(--height);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  color: #333333;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.copy_link_button:hover {
  background: #cccccc;
}
.check {
  color: var(--heading-text);
}
/* end created ballot page */
