html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --sub-headings: #053bfe;
  --info-text: #a9aca9;
  /* --main-background: rgb(14, 22, 43); */

  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;

  --main-green: #78d64b;
  --main-dark: #11111f;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: #fff;
  --text-secondary: grey;
  --accent: darkred;
}

input[type="date"]:not(:valid)::-webkit-datetime-edit {
  color: #fff;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* Greens:
#78d64b
#ffffff
#f2fbed
#d7f3c9
#aee693

Blacks:
#11111f
#ffffff
#e7e7e9
#b8b8bc
#707079 */
