html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --sub-headings: #053bfe;
  --info-text: #a9aca9;
  /* --main-background: rgb(14, 22, 43); */

  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
