.container {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x: hidden;
  width: 100%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.a_link {
  text-decoration: none !important;
}

.right_btns {
  margin: 10px 0 !important;
  text-transform: capitalize !important;
  border: 1px solid var(--button-hover) !important;
  color: var(--button-hover) !important;
}
.right_btns:hover {
  transition: 0.2s ease-in-out !important;
  color: var(--text-primary) !important;
}
