.container {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x: hidden;
  width: 100%;
}
.right_btns {
  text-transform: capitalize !important;
  border: 1px solid var(--button-hover) !important;
  color: var(--button-hover) !important;
}
.right_btns:hover {
  transition: 0.2s ease-in-out !important;
  color: var(--text-primary) !important;
}

.check_box {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
